@model ChoreItem
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="bg-light container height-100">
<table id="singleChore">
    <thead>
        <tr>
            <td class="font-weight-bold">Name</td>
            <td class="hide-row font-weight-bold">Assignee</td>
            <td class="hide-row font-weight-bold">Status</td>
            <td class="font-weight-bold">Is Complete</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Name</td>
            <td class="hide-row">@Model.AssignedTo.Name</td>
            @if(@Model.DueDate > DateTime.Now && @Model.DueDate > DateTime.Now.AddDays(4))
                        {
                            <td class="hide-row"><i class="fa fa-certificate green-icon-color"></i></td>
                        }
                        else if(@Model.DueDate > DateTime.Now && @Model.DueDate > DateTime.Now.AddDays(1))
                        {
                            <td class="hide-row"><i class="fa fa-certificate yellow-icon-color"></i></td>
                        }
                        else
                        {
                            <td class="hide-row"><i class="fa fa-certificate red-icon-color"></i></td>
                        }
            <td><a class="btn btn-success" type="button" asp-route-id="@Model.Id" asp-controller="Home" asp-action="FinishChore">Finish Chore</a></td>
        </tr>
    </tbody>
</table>
</div>

@section Scripts{ 
    <script>
        $(document).ready(function () {
            $("#singleChore").DataTable({
                dom: 'Bfrt',
                searching: false,
                sorting: false,
                ordering: false
            });
        });
    </script>
}