@model PagedResult<ChoreItem>
@{
    ViewData["Title"] = "Home Page";
}
<div class="bg-light container height-100">

<div class="row">
    <div class="col-md-6">
        <table id="choreTable" class="cell-border compact stripe">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Assignee</td>
                    <td>Status</td>
                    <td>Details</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var chore in Model.Results)
                {
                    <tr>
                        <td>@chore.Name</td>
                        @if (chore.AssignedTo != null)
                        {
                            <td>@chore.AssignedTo.Name</td>
                        }
                        else
                        {
                            <td>No one has been assigned this task</td>
                        }
                        @if(@chore.DueDate > DateTime.Now && @chore.DueDate > DateTime.Now.AddDays(4))
                        {
                            <td><i class="fa fa-certificate green-icon-color"></i></td>
                        }
                        else if(@chore.DueDate > DateTime.Now && @chore.DueDate > DateTime.Now.AddDays(1))
                        {
                            <td><i class="fa fa-certificate yellow-icon-color"></i></td>
                        }
                        else
                        {
                            <td><i class="fa fa-certificate red-icon-color"></i></td>
                        }
                        
                        <td><a class="btn btn-primary" asp-action="Details" asp-controller="Home" asp-route-id="@chore.Id">Details</a></td>
                    </tr>
                }

            </tbody>
        </table>
        @(await Component.InvokeAsync("Pager", Model))
    </div>
    <div class="col-md-6">
        @await Component.InvokeAsync("AddChore")
    </div>

    <div class="row">

    </div>
</div>
</div>
@section Scripts {
    
    <script>
        $(document).ready(function () {
            $("#choreTable").DataTable({
                "paging": false,
                "bInfo": false
            });
        });
    </script>
}
