@model PagedResult<ChoreItem>
@{
    ViewData["Title"] = "Home Page";
}
<div class="bg-light container height-100">

<div class="row">
    <div class="col-xl-6 col-lg-12">
        <table id="choreTable" class="cell-border compact stripe">
            <thead>
                <tr>
                    <td class="font-weight-bold">Name</td>
                    <td class="hide-row font-weight-bold">Assignee</td>
                    <td class="hide-row font-weight-bold">Status</td>
                    <td class="font-weight-bold">Details</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var chore in Model.Results)
                {
                    <tr>
                        <td>@chore.Name</td>
                        @if (chore.AssignedTo != null)
                        {
                            <td class="hide-row">@chore.AssignedTo.Name</td>
                        }
                        else
                        {
                            <td class="hide-row">No one has been assigned this task</td>
                        }
                        @if(@chore.DueDate > DateTime.Now && @chore.DueDate > DateTime.Now.AddDays(4))
                        {
                            <td class="hide-row"><i class="fa fa-certificate green-icon-color"></i></td>
                        }
                        else if(@chore.DueDate > DateTime.Now && @chore.DueDate > DateTime.Now.AddDays(1))
                        {
                            <td class="hide-row"><i class="fa fa-certificate yellow-icon-color"></i></td>
                        }
                        else
                        {
                            <td class="hide-row"><i class="fa fa-certificate red-icon-color"></i></td>
                        }
                        
                        <td><a class="btn btn-primary text-center" asp-action="Details" asp-controller="Home" asp-route-id="@chore.Id">Details</a></td>
                    </tr>
                }

            </tbody>
        </table>
        @(await Component.InvokeAsync("Pager", Model))
    </div>
    <div class="col-xl-6 col-lg-12 mt-2">
        @await Component.InvokeAsync("AddChore")
    </div>

    <div class="row">

    </div>
</div>
</div>
@section Scripts {
    
    <script>
        $(document).ready(function () {
            $("#choreTable").DataTable({
                "paging": false,
                "bInfo": false
            });
        });
    </script>
}
